@model IEnumerable<EFCoreEmployee.Models.Employee>
    <h2>
        Employee List
    </h2>
    <table class="table table-bordered">
        <thead>
        <th>
            ID

        </th>
        <th>Name</th>      
        <th>Location</th>
        </thead>
        <tbody>
            @foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.Id</td>
                   <td>@emp.Name</td>                 
                    <td>@emp.Location</td>
                   
                    <td><a asp-action="Edit" asp-controller="Employee" asp-route-id="@emp.Id">Edit</a></td>
                    <td><a asp-action="Delete" asp-controller="Employee" asp-route-id="@emp.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
